.skills-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.skills-title {
  text-align: center;
  margin-bottom: 2rem;
}

.skill-item {
  margin-bottom: 1.5rem;
}

.skill-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skill-bar {
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.skill-progress {
  height: 100%;
  border-radius: 4px;
  transition: width 1s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
}

.skill-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
}

.skill-name > div {
  display: flex;
  align-items: center;
}

.skill-name > div > svg {
  font-size: 1.5rem; /* Adjust icon size */
  margin-right: 10px;
}
