/* Light Theme (default) */
body {
    background-color: #f7fafc;
    color: #1a202c;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .light-theme {
    background-color: #f7fafc;
    color: #1a202c;
  }
  
  /* Dark Theme */
  .dark-theme {
    background-color: #1a202c;
    color: #f7fafc;
  }
  